.ButtonsPreview {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.ButtonPseudoStateCollection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Button {
  --bg-color-h: 246;
  --bg-color-s: 71%;
  --bg-color-l__base: 66%;
  --bg-color-l: calc(
    var(--bg-color-l__base) + var(--bg-color-l__hover-delta, 0%)
  );

  height: 48px;
  width: 240px;
  box-sizing: border-box;
  border: none;
  background-color: hsl(
    var(--bg-color-h),
    var(--bg-color-s),
    var(--bg-color-l)
  );
  font-weight: 700;
  font-size: 16px;
  color: white;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;

  &[data-state$='success'] {
    --bg-color-h: 132;
    --bg-color-s: 55%;
    --bg-color-l__base: 61%;
  }

  &[data-state$='error'] {
    --bg-color-h: 360;
    --bg-color-s: 59%;
    --bg-color-l__base: 57%;
  }

  &:hover {
    --bg-color-l__hover-delta: 7%;
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    border: 2px solid whitesmoke;
    box-shadow: 0 0 0 3px black;
    outline: none;
  }
}
