:root {
  background-color: burlywood;
}

.PseudoClassBoxContainer {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  white-space: pre-wrap;
  gap: 24px;
}

.PseudoClassBox {
  width: 140px;
  height: 80px;
  border: none;
  padding: 16px;
  color: black;
  background-color: white;
  font-size: 12px;
  font-family: monospace;
  text-align: left;

  &:hover {
    background-color: lemonchiffon;
  }
  &:active {
    border: 3px solid salmon;
  }

  &:focus {
    outline: 5px double mediumslateblue;
  }
}
